
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .audio {
        display: flex;
        width: 530px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;

        .audio-container {
            width: 130px;
            height: 130px;
            margin: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #efefef;
            border-radius: 8px;
            transition: 250ms;

            span {
                text-align: center;
                font-weight: 500;
                font-size: 32px;
                color: #4c4c4c;
                transition: 200px;
            }
        }
    }

}